@charset "UTF-8";

html{
    font-size: 62.5%;
}
body{
    font-size: 1.6rem;
    line-height: 2;
    letter-spacing: 0.025em;
    color:#666;
    font-family:  "Quicksand", "M PLUS Rounded 1c", sans-serif;
    -webkit-text-size-adjust: 100%;
}
/*--------------------------------------
base setting
--------------------------------------*/
*{
    box-sizing: border-box;
}
img{
	max-width: 100%;
    height:auto;
    vertical-align: top;
}
a{
    color:#666;
}
.sp{
    display: none;
}
.bgc-fream{
    background-color: #fff9ef;
    position: relative;
}
.bgc-cleam{
    position: absolute;
    bottom:100%;
    width: 100%;
    height: auto;
    text-align: center;
    margin-bottom: -1px;
}
.bgc-cleam img{
    width: 100%;
    vertical-align: top;
}
.bgc-cleam__all{
    background-color: #fff9ef;
    padding-bottom: 120px;
}
.bgc-fream__2{
    background-color: #fff;
    position: relative;
}
.bgc-white{
    position: absolute;
    bottom:100%;
    width: 100%;
    height: auto;
    text-align: center;
    margin-bottom: -1px;
}
.bgc-white img{
    width: 100%;
    vertical-align: top;
}

.text-center{
    text-align: center;
}
.content-tittle{
    padding: 100px 0 ;
}
.content-en{
    display: inline-block;
    padding: 0 20px;
    font-size: 3.6rem;
    text-transform: uppercase;
    border-bottom: #99cce2 0.2rem dashed;
}
.content-ja{
    font-size: 2.4rem;
}
.space{
    margin: 0 50px;
}
.btn-detail{
    padding: 80px 0 200px 0;
}
.btn-item{
    border-bottom:  #666 solid 1px;
    padding: 0 10px 10px 10px;
}
.btn-niku{
    padding-right: 15px;
    padding-bottom: 5px;
}
.icon{
    width: 50px;
    height: 50px;
    margin: auto;
}
/*--------------------------------------
header
--------------------------------------*/
.navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    height: 50px;
    background-color: #99cce2;
    z-index: 1000;
    background-position: bottom;
    background-size: cover;
    color: #fff;
}
.navigation a{
    color: #fff;
}
.navigation-img{
    width: 100%;
    height: auto;
    position: absolute;
    top:  100%;
    text-align: center;
}
.navigation-img img{
    vertical-align: top;
    width: 100%;
}
.tittle{
    font-size: 5rem;
    letter-spacing: 0.2em;
    line-height: 1;
    margin-left: 40px;
}
.nav-list{
    display: flex;
    text-transform: uppercase;
    top: 10px;
    margin-right: 40px;
}
.nav-item img{
    vertical-align: bottom;
}
.active a{
    color:#666;

}
.nav-item{
    margin-left: 60px;
}

/*--------------------------------------
top-about
--------------------------------------*/
.about-list{
    display: flex;
    justify-content: space-around;
    flex-flow: row-reverse;
}
.about-parts{
    width: 50%;
    margin: 0 10px;
    height: auto;
    margin-top: auto;
    margin-bottom: auto;
}
.about-text{
    font-size: 2rem;
    margin-bottom: 20px;
}
/*--------------------------------------
top-menu
--------------------------------------*/
.menu{
    display: flex;
    justify-content: space-around;
}
.menu-list{
    width: 33.33333%;
    border: solid #666 1px;
    border-radius: 10px;
    margin-right: 50px;
    padding: 40px 0;
}
.menu :last-of-type{
    margin-right: 0;
}
.menu-item_course{
    font-size: 24px;
    padding-bottom: 20px;
}
.menu-item_content{
    padding: 20px;
}
.menu-item_prace{
    font-size: 24px;
}

/*--------------------------------------
top-photo
--------------------------------------*/
.photo-top{
    display: flex;
    justify-content: space-between;
    /* height: 100px; */
}
.photo-top__img {                        /*--paddingのやり方(写真間の余白)--*/
    width: 31.3333%;
    height: 0%;
    padding-top: 31.3333%;
    border-radius: 50%;
    background-size: cover;
}
/*--------------------------------------
access
--------------------------------------*/
.map{
    height: 0;
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    margin-bottom: 200px;
}
.map iframe{
    position : absolute;
    top : 0;
    left : 0;
    width : 100%;
    height : 100%;
}
/*--------------------------------------
footer
--------------------------------------*/
.footer{
    background-color: #99cce2;
    position: relative;
    color: #fff;
}
.footer-bg__img{
    position: absolute;
    bottom:100%;
    width: 100%;
    height: auto;
    text-align: center;
}
.footer-bg__img img{
    width: 100%;
    vertical-align: top;
    margin-bottom: -1px;
}
.footer-mousse{
    font-size: 5rem;
    padding-top: 100px;
    padding-bottom: 20px;
}
.footer-text{
    padding: 50px 0 100px 0;
}
/*--------------------------------------
contact・reserve
--------------------------------------*/
.contact-reserve{
    width:500px;height: 60px;
    background-color: #fff;
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    padding: 5px;
    justify-content: space-between;
    border-radius: 5px;
}
.contact-reserve img{
    width: 30px;
    margin-right: 20px;
}
.contact-reserve__inner{
    color: #fff;
    width: 49%;
    height: 100%;
    background-color: #aadfbf;
    border-radius: 5px;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
}
.contact-reserve__inner_pink{
    background-color: #dfafd7;
}
.contact-reserve__inner a{
    color: #fff;
    display: flex;
    align-items: center;
}
/*-------------------------------------------------------------------------------------------
about-page
---------------------------------------------------------------------------------------------*/
.about-frame{
    display: flex;
    margin-bottom: 120px;
}
.about-frame:nth-child(even){
    flex-direction: row-reverse;
}
.about-inner{
    width: 50%;
    padding-right: 50px;
    font-size: 1.6rem;
}
.about-text__right{
    padding: 0 0 0 50px;
}
.about-tittle{
    font-size: 3rem;
}
.about-number{
    font-size: 6rem;
    color: #99cce2;
    font-style: italic;
    padding-right: 10px;
}
.about-content{
    padding-left: 40px;
}
.about-img{
    width: 50%;
}
.about-img img{
    border-radius: 10px;
}
/*-------------------------------------------------------------------------------------------
menu-page
---------------------------------------------------------------------------------------------*/
.menu{
    display: flex;
    margin-bottom: 100px;
}
.menu-item__inner{
    width: 45%;
    border: #666 solid 1px;
    border-radius: 10px;
    padding: 40px;

}
.menu-item__tittle{
    margin-bottom: 40px;

}
.menu-item__course{
    font-size: 2.4rem;
}
table{
    width:calc(100% - 100px);
    margin: 0 50px 80px;
}
th{
    border-top:solid #666 1px ;
    border-bottom: solid #666 1px;
    text-align: center;
    padding: 5px 0;
}
tr{
    padding: 5px 0;
}
tr:nth-child(even){
    background-color: #fff9ef;
}
tr:last-child{
    border-bottom: solid #666 1px;
}
tr td{
    text-align: center;
}
td{
    padding: 5px 0;
    width: 33.33333%;
}
.coupon{
    margin: auto;
    width: 500px;
    border: #666 1px solid;
    border-radius: 10px;
}
.coupon-tittle{
    font-size: 2.4rem;
}
.coupon-10{
    font-size: 3rem;
    color: #ff0000;
    font-weight: bold;
    font-style: italic;
}
.menu-ps{
    padding: 80px 0 240px;
}
/*-------------------------------------------------------------------------------------------
photo-page
---------------------------------------------------------------------------------------------*/
/* photo-top
　　photo-top__img  topページで使用*/
.photo{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.photo-frame{
    width: 31.33333%;
    padding: 20px;
    margin-bottom: 80px;
    background-color: #fff;
    border: #666 solid 1px;
}
.photo-item__name{
    font-style: italic;
    padding-top: 5px;
}
.photo-item{
    padding-top: 5px;
    display: flex;
    align-items: center;
}
.photo-item__icon{
   padding-right: 10px;
}
.photo-item__review{
    font-size: 1.4rem;
}
/*-------------------------------------------------------------------------------------------
-785px以下
---------------------------------------------------------------------------------------------*/
@media screen and (max-width: 785px) {
/*-------------------------------------------------------------------------------------------
base setting sp
---------------------------------------------------------------------------------------------*/
    .cp{
        display: none;
    }
    .sp{
        display:block;
    }
    .space{
        margin: 0 30px;
    }
    .bgc-cleam,.bgc-white{
        width: 101%;
    }
    .bgc-cleam__all{
        padding-bottom: 100px;
    }
    .tittle{
        margin: 0;
        font-size: 3rem;
        text-align: center;
    }
    .content-tittle{
        padding: 40px 0;
    }
    .navigation{
        position: relative;
        display: block;
    }
    .nav-list__sp{
        background-color: #fff;
        opacity: 0.8;
        width: 100%;
        z-index: 1100;
        position: fixed;
        position: absolute;
        top: 0;
    }
    .nav-list__sp a{
        color: #666;
    }
    .nav-item{
        text-transform: uppercase;
        margin-left: 0;
        margin-bottom: 80px;
    }
    .nav-item:first-of-type{
        margin-top: 100px;
    }
    .nav-item:last-of-type{
        margin-bottom: 100px;
    }
    .ham-frame{
        position: absolute;
        top: 0;
        right: 0;
        margin-right: 10px;
    }
    .ham{
        position: relative;
        width: 40px;
        height: 40px;
    }.ham-line{
        position: absolute;
        left: 10px;
        width: 25px;
        height: 1px;
        background-color: #fff;
        transition: all 0.3s;
    }
    .ham-line:nth-child(1){
        top: 10px;
    }
    .ham-line:nth-child(2){
        top: 20px;
    }
    .ham-line:nth-child(3){
        top: 30px;
    }
    .ham.clicked span{
        background-color:#666;
        z-index: 1100;
    }
    .ham.clicked span:nth-of-type(1){
        transform: translateY(10px) rotate(-315deg);
    }
    .ham.clicked span:nth-of-type(2){
        opacity: 0;
    }
    .ham.clicked span:nth-of-type(3){
        transform: translateY(-10px) rotate(315deg);
    }
    .btn-detail{
        padding: 30px 0 100px;
    }
    .hero-image{
        height: 550px;
        width: auto;
    }
    .footer-mousse{
        padding-top: 20px;
        font-size: 3rem;
    }
    .footer-text{
        padding-top: 20px;
    }
    .contact-reserve{
        width: 100%;
        border-radius: 0;
    }
/*-------------------------------------------------------------------------------------------
about-sp
---------------------------------------------------------------------------------------------*/
    .about-list{
        display: block;
    }
    .about-parts{
        width: 100%;
        margin: 0;
    }
    .about-parts:first-child{
        margin-bottom: 30px 0;
    }
    .about-text{
        margin-top: 30px;
    }
/*-------------------------------------------------------------------------------------------
menu-sp
---------------------------------------------------------------------------------------------*/
    .menu{
        margin: 0;
    }
    .menu-list{
        width: 100%;
        margin: 0;
    }
/*-------------------------------------------------------------------------------------------
map-sp
---------------------------------------------------------------------------------------------*/
    .map{
        padding-bottom: 75%;
        margin-bottom: 100px;
    }
/*-------------------------------------------------------------------------------------------
about-page__sp
---------------------------------------------------------------------------------------------*/
    .about-frame{
        display: block;
    }
    .about-inner {
        width: 100%;
        padding: 0 0 60px;
    }
    .about-inner__3{
        padding: 0;
    }
    .about-img{
        width: 100%;
    }
    .about-content{
        padding: 0;
    }
    .about-number{
        font-size: 3.6rem;
    }
    .about-tittle{
        font-size: 2rem;
    }
/*-------------------------------------------------------------------------------------------
menu-page__sp
---------------------------------------------------------------------------------------------*/
    .menu{
        display: block;
    }
    .menu-item__inner{
        width: 100%;
        padding: 20px;
        margin-bottom: 20px;
    }
    .icon img{
        width: 30px;
        height: 30px;
    }
    .menu-item__tittle{
        margin-bottom: 20px;
        line-height: 1;
    }
    table{
        margin: 20px 0;
        width: 100%;
    }
    .table-sp{
        margin: 40px 0;
    }
    .coupon{
        width: 100%;
    }
    .menu-ps{
        padding: 40px 0 100px;
    }
}
/*-------------------------------------------------------------------------------------------
photo-page__sp
---------------------------------------------------------------------------------------------*/
.photo-top{
    padding: 0;
    margin: 0;
    flex-wrap: wrap;
}
.photo-top__frame{
    width: 47%;
    margin-bottom: 10%;
}
.photo-top__img{
    width: auto;
    padding: 0;
}
.photo-top__img img{
    border-radius: 50%;
}